 #app {
                font-family: Avenir,Helvetica,Arial,sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-align: center
            }

            #app,#nav a {
                color: #2c3e50
            }

            #nav a {
                font-weight: 700
            }

            #nav a.router-link-exact-active {
                color: #42b983
            }
:host,:root {
                --van-cell-font-size: var(--van-font-size-md);
                --van-cell-line-height: 6.4vw;
                --van-cell-vertical-padding: 2.66667vw;
                --van-cell-horizontal-padding: var(--van-padding-md);
                --van-cell-text-color: var(--van-text-color);
                --van-cell-background: var(--van-background-2);
                --van-cell-border-color: var(--van-border-color);
                --van-cell-active-color: var(--van-active-color);
                --van-cell-required-color: var(--van-danger-color);
                --van-cell-label-color: var(--van-text-color-2);
                --van-cell-label-font-size: var(--van-font-size-sm);
                --van-cell-label-line-height: var(--van-line-height-sm);
                --van-cell-label-margin-top: var(--van-padding-base);
                --van-cell-value-color: var(--van-text-color-2);
                --van-cell-value-font-size: inherit;
                --van-cell-icon-size: 4.26667vw;
                --van-cell-right-icon-color: var(--van-gray-6);
                --van-cell-large-vertical-padding: var(--van-padding-sm);
                --van-cell-large-title-font-size: var(--van-font-size-lg);
                --van-cell-large-label-font-size: var(--van-font-size-md);
                --van-cell-large-value-font-size: inherit
            }

            .van-cell {
                position: relative;
                display: flex;
                box-sizing: border-box;
                width: 100%;
                padding: var(--van-cell-vertical-padding) var(--van-cell-horizontal-padding);
                overflow: hidden;
                color: var(--van-cell-text-color);
                font-size: var(--van-cell-font-size);
                line-height: var(--van-cell-line-height);
                background: var(--van-cell-background)
            }

            .van-cell:after {
                position: absolute;
                box-sizing: border-box;
                content: " ";
                pointer-events: none;
                right: var(--van-padding-md);
                bottom: 0;
                left: var(--van-padding-md);
                border-bottom: 1px solid var(--van-cell-border-color);
                transform: scaleY(.5)
            }

            .van-cell--borderless:after,.van-cell:last-child:after {
                display: none
            }

            .van-cell__label {
                margin-top: var(--van-cell-label-margin-top);
                color: var(--van-cell-label-color);
                font-size: var(--van-cell-label-font-size);
                line-height: var(--van-cell-label-line-height)
            }

            .van-cell__title,.van-cell__value {
                flex: 1
            }

            .van-cell__value {
                position: relative;
                overflow: hidden;
                color: var(--van-cell-value-color);
                font-size: var(--van-cell-value-font-size);
                text-align: right;
                vertical-align: middle;
                word-wrap: break-word
            }

            .van-cell__left-icon,.van-cell__right-icon {
                height: var(--van-cell-line-height);
                font-size: var(--van-cell-icon-size);
                line-height: var(--van-cell-line-height)
            }

            .van-cell__left-icon {
                margin-right: var(--van-padding-base)
            }

            .van-cell__right-icon {
                margin-left: var(--van-padding-base);
                color: var(--van-cell-right-icon-color)
            }

            .van-cell--clickable {
                cursor: pointer
            }

            .van-cell--clickable:active {
                background-color: var(--van-cell-active-color)
            }

            .van-cell--required {
                overflow: visible
            }

            .van-cell--required:before {
                position: absolute;
                left: var(--van-padding-xs);
                color: var(--van-cell-required-color);
                font-size: var(--van-cell-font-size);
                content: "*"
            }

            .van-cell--center {
                align-items: center
            }

            .van-cell--large {
                padding-top: var(--van-cell-large-vertical-padding);
                padding-bottom: var(--van-cell-large-vertical-padding)
            }

            .van-cell--large .van-cell__title {
                font-size: var(--van-cell-large-title-font-size)
            }

            .van-cell--large .van-cell__label {
                font-size: var(--van-cell-large-label-font-size)
            }

            .van-cell--large .van-cell__value {
                font-size: var(--van-cell-large-value-font-size)
            }

            :host,:root {
                --van-field-label-width: 6.2em;
                --van-field-label-color: var(--van-text-color);
                --van-field-label-margin-right: var(--van-padding-sm);
                --van-field-input-text-color: var(--van-text-color);
                --van-field-input-error-text-color: var(--van-danger-color);
                --van-field-input-disabled-text-color: var(--van-text-color-3);
                --van-field-placeholder-text-color: var(--van-text-color-3);
                --van-field-icon-size: 4.8vw;
                --van-field-clear-icon-size: 4.8vw;
                --van-field-clear-icon-color: var(--van-gray-5);
                --van-field-right-icon-color: var(--van-gray-6);
                --van-field-error-message-color: var(--van-danger-color);
                --van-field-error-message-font-size: 3.2vw;
                --van-field-text-area-min-height: 16vw;
                --van-field-word-limit-color: var(--van-gray-7);
                --van-field-word-limit-font-size: var(--van-font-size-sm);
                --van-field-word-limit-line-height: 4.26667vw;
                --van-field-disabled-text-color: var(--van-text-color-3);
                --van-field-required-mark-color: var(--van-red)
            }

            .van-field {
                flex-wrap: wrap
            }

            .van-field__label {
                flex: none;
                box-sizing: border-box;
                width: var(--van-field-label-width);
                margin-right: var(--van-field-label-margin-right);
                color: var(--van-field-label-color);
                text-align: left;
                word-wrap: break-word
            }

            .van-field__label--center {
                text-align: center
            }

            .van-field__label--right {
                text-align: right
            }

            .van-field__label--top {
                display: flex;
                width: 100%;
                text-align: left;
                margin-bottom: var(--van-padding-base);
                overflow-wrap: break-word
            }

            .van-field__label--required:before {
                margin-right: .53333vw;
                color: var(--van-field-required-mark-color);
                content: "*"
            }

            .van-field--disabled .van-field__label {
                color: var(--van-field-disabled-text-color)
            }

            .van-field__value {
                overflow: visible
            }

            .van-field__body {
                display: flex;
                align-items: center
            }

            .van-field__control {
                display: block;
                box-sizing: border-box;
                width: 100%;
                min-width: 0;
                margin: 0;
                padding: 0;
                color: var(--van-field-input-text-color);
                line-height: inherit;
                text-align: left;
                background-color: transparent;
                border: 0;
                resize: none;
                -webkit-user-select: auto;
                -moz-user-select: auto;
                user-select: auto
            }

            .van-field__control::-moz-placeholder {
                color: var(--van-field-placeholder-text-color)
            }

            .van-field__control::placeholder {
                color: var(--van-field-placeholder-text-color)
            }

            .van-field__control:-moz-read-only {
                cursor: default
            }

            .van-field__control:read-only {
                cursor: default
            }

            .van-field__control:disabled {
                color: var(--van-field-input-disabled-text-color);
                cursor: not-allowed;
                opacity: 1;
                -webkit-text-fill-color: var(--van-field-input-disabled-text-color)
            }

            .van-field__control--center {
                justify-content: center;
                text-align: center
            }

            .van-field__control--right {
                justify-content: flex-end;
                text-align: right
            }

            .van-field__control--custom {
                display: flex;
                align-items: center;
                min-height: var(--van-cell-line-height)
            }

            .van-field__control--error::-moz-placeholder {
                color: var(--van-field-input-error-text-color);
                -webkit-text-fill-color: currentColor
            }

            .van-field__control--error,.van-field__control--error::placeholder {
                color: var(--van-field-input-error-text-color);
                -webkit-text-fill-color: currentColor
            }

            .van-field__control--min-height {
                min-height: var(--van-field-text-area-min-height)
            }

            .van-field__control[type=date],.van-field__control[type=datetime-local],.van-field__control[type=time] {
                min-height: var(--van-cell-line-height)
            }

            .van-field__control[type=search] {
                -webkit-appearance: none
            }

            .van-field__button,.van-field__clear,.van-field__icon,.van-field__right-icon {
                flex-shrink: 0
            }

            .van-field__clear,.van-field__right-icon {
                margin-right: calc(var(--van-padding-xs)*-1);
                padding: 0 var(--van-padding-xs);
                line-height: inherit
            }

            .van-field__clear {
                color: var(--van-field-clear-icon-color);
                font-size: var(--van-field-clear-icon-size);
                cursor: pointer
            }

            .van-field__left-icon .van-icon,.van-field__right-icon .van-icon {
                display: block;
                font-size: var(--van-field-icon-size);
                line-height: inherit
            }

            .van-field__left-icon {
                margin-right: var(--van-padding-base)
            }

            .van-field__right-icon {
                color: var(--van-field-right-icon-color)
            }

            .van-field__button {
                padding-left: var(--van-padding-xs)
            }

            .van-field__error-message {
                color: var(--van-field-error-message-color);
                font-size: var(--van-field-error-message-font-size);
                text-align: left
            }

            .van-field__error-message--center {
                text-align: center
            }

            .van-field__error-message--right {
                text-align: right
            }

            .van-field__word-limit {
                margin-top: var(--van-padding-base);
                color: var(--van-field-word-limit-color);
                font-size: var(--van-field-word-limit-font-size);
                line-height: var(--van-field-word-limit-line-height);
                text-align: right
            }

            .van-radio-group--horizontal {
                display: flex;
                flex-wrap: wrap
            }

            :host,:root {
                --van-checkbox-size: 5.33333vw;
                --van-checkbox-border-color: var(--van-gray-5);
                --van-checkbox-duration: var(--van-duration-fast);
                --van-checkbox-label-margin: var(--van-padding-xs);
                --van-checkbox-label-color: var(--van-text-color);
                --van-checkbox-checked-icon-color: var(--van-primary-color);
                --van-checkbox-disabled-icon-color: var(--van-gray-5);
                --van-checkbox-disabled-label-color: var(--van-text-color-3);
                --van-checkbox-disabled-background: var(--van-border-color)
            }

            .van-checkbox {
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none
            }

            .van-checkbox--disabled {
                cursor: not-allowed
            }

            .van-checkbox--label-disabled {
                cursor: default
            }

            .van-checkbox--horizontal {
                margin-right: var(--van-padding-sm)
            }

            .van-checkbox__icon {
                flex: none;
                height: 1em;
                font-size: var(--van-checkbox-size);
                line-height: 1em;
                cursor: pointer
            }

            .van-checkbox__icon .van-icon {
                display: block;
                box-sizing: border-box;
                width: 1.25em;
                height: 1.25em;
                color: transparent;
                font-size: .8em;
                line-height: 1.25;
                text-align: center;
                border: 1px solid var(--van-checkbox-border-color);
                transition-duration: var(--van-checkbox-duration);
                transition-property: color,border-color,background-color
            }

            .van-checkbox__icon--round .van-icon {
                border-radius: 100%
            }

            .van-checkbox__icon--indeterminate .van-icon {
                display: flex;
                align-items: center;
                justify-content: center
            }

            .van-checkbox__icon--checked .van-icon,.van-checkbox__icon--indeterminate .van-icon {
                color: var(--van-white);
                border-color: var(--van-checkbox-checked-icon-color);
                background-color: var(--van-checkbox-checked-icon-color)
            }

            .van-checkbox__icon--disabled {
                cursor: not-allowed
            }

            .van-checkbox__icon--disabled .van-icon {
                background-color: var(--van-checkbox-disabled-background);
                border-color: var(--van-checkbox-disabled-icon-color)
            }

            .van-checkbox__icon--disabled.van-checkbox__icon--checked .van-icon {
                color: var(--van-checkbox-disabled-icon-color)
            }

            .van-checkbox__label {
                margin-left: var(--van-checkbox-label-margin);
                color: var(--van-checkbox-label-color);
                line-height: var(--van-checkbox-size)
            }

            .van-checkbox__label--left {
                margin: 0 var(--van-checkbox-label-margin) 0 0
            }

            .van-checkbox__label--disabled {
                color: var(--van-checkbox-disabled-label-color)
            }

            :host,:root {
                --van-radio-size: 5.33333vw;
                --van-radio-dot-size: 2.13333vw;
                --van-radio-border-color: var(--van-gray-5);
                --van-radio-duration: var(--van-duration-fast);
                --van-radio-label-margin: var(--van-padding-xs);
                --van-radio-label-color: var(--van-text-color);
                --van-radio-checked-icon-color: var(--van-primary-color);
                --van-radio-disabled-icon-color: var(--van-gray-5);
                --van-radio-disabled-label-color: var(--van-text-color-3);
                --van-radio-disabled-background: var(--van-border-color)
            }

            .van-radio {
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none
            }

            .van-radio--disabled {
                cursor: not-allowed
            }

            .van-radio--label-disabled {
                cursor: default
            }

            .van-radio--horizontal {
                margin-right: var(--van-padding-sm)
            }

            .van-radio__icon {
                flex: none;
                height: 1em;
                font-size: var(--van-radio-size);
                line-height: 1em;
                cursor: pointer
            }

            .van-radio__icon .van-icon {
                display: block;
                box-sizing: border-box;
                width: 1.25em;
                height: 1.25em;
                color: transparent;
                font-size: .8em;
                line-height: 1.25;
                text-align: center;
                border: 1px solid var(--van-radio-border-color);
                transition-duration: var(--van-radio-duration);
                transition-property: color,border-color,background-color
            }

            .van-radio__icon--round .van-icon {
                border-radius: 100%
            }

            .van-radio__icon--dot {
                position: relative;
                border-radius: 100%;
                box-sizing: border-box;
                width: var(--van-radio-size);
                height: var(--van-radio-size);
                border: 1px solid var(--van-radio-border-color);
                transition-duration: var(--van-radio-duration);
                transition-property: border-color
            }

            .van-radio__icon--dot__icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 100%;
                height: calc(100% - var(--van-radio-dot-size));
                width: calc(100% - var(--van-radio-dot-size));
                transition-duration: var(--van-radio-duration);
                transition-property: background-color
            }

            .van-radio__icon--checked .van-icon {
                color: var(--van-white);
                background-color: var(--van-radio-checked-icon-color)
            }

            .van-radio__icon--checked .van-icon,.van-radio__icon--checked.van-radio__icon--dot {
                border-color: var(--van-radio-checked-icon-color)
            }

            .van-radio__icon--checked.van-radio__icon--dot .van-radio__icon--dot__icon {
                background: var(--van-radio-checked-icon-color)
            }

            .van-radio__icon--disabled {
                cursor: not-allowed
            }

            .van-radio__icon--disabled .van-icon {
                background-color: var(--van-radio-disabled-background);
                border-color: var(--van-radio-disabled-icon-color)
            }

            .van-radio__icon--disabled.van-radio__icon--checked .van-icon {
                color: var(--van-radio-disabled-icon-color)
            }

            .van-radio__label {
                margin-left: var(--van-radio-label-margin);
                color: var(--van-radio-label-color);
                line-height: var(--van-radio-size)
            }

            .van-radio__label--left {
                margin: 0 var(--van-radio-label-margin) 0 0
            }

            .van-radio__label--disabled {
                color: var(--van-radio-disabled-label-color)
            }

            :host,:root {
                --van-divider-margin: var(--van-padding-md) 0;
                --van-divider-vertical-margin: 0 var(--van-padding-xs);
                --van-divider-text-color: var(--van-text-color-2);
                --van-divider-font-size: var(--van-font-size-md);
                --van-divider-line-height: 6.4vw;
                --van-divider-border-color: var(--van-border-color);
                --van-divider-content-padding: var(--van-padding-md);
                --van-divider-content-left-width: 10%;
                --van-divider-content-right-width: 10%
            }

            .van-divider {
                display: flex;
                align-items: center;
                margin: var(--van-divider-margin);
                color: var(--van-divider-text-color);
                font-size: var(--van-divider-font-size);
                line-height: var(--van-divider-line-height);
                border-color: var(--van-divider-border-color);
                border-style: solid;
                border-width: 0
            }

            .van-divider:after,.van-divider:before {
                display: block;
                flex: 1;
                box-sizing: border-box;
                height: 1px;
                border-color: inherit;
                border-style: inherit;
                border-width: var(--van-border-width) 0 0
            }

            .van-divider:before {
                content: ""
            }

            .van-divider--hairline:after,.van-divider--hairline:before {
                transform: scaleY(.5)
            }

            .van-divider--dashed {
                border-style: dashed
            }

            .van-divider--content-center:before,.van-divider--content-left:before,.van-divider--content-right:before {
                margin-right: var(--van-divider-content-padding)
            }

            .van-divider--content-center:after,.van-divider--content-left:after,.van-divider--content-right:after {
                margin-left: var(--van-divider-content-padding);
                content: ""
            }

            .van-divider--content-left:before {
                max-width: var(--van-divider-content-left-width)
            }

            .van-divider--content-right:after {
                max-width: var(--van-divider-content-right-width)
            }

            .van-divider--vertical {
                display: inline-block;
                width: var(--van-border-width);
                height: 1em;
                margin: var(--van-divider-vertical-margin);
                vertical-align: middle
            }

            .van-divider--vertical:before {
                height: 100%;
                border-width: 0 0 0 var(--van-border-width)
            }

            .van-divider--vertical:after {
                display: none
            }

            .van-divider--vertical.van-divider--hairline:before {
                transform: scaleX(.5)
            }

            .van-row {
                display: flex;
                flex-wrap: wrap
            }

            .van-row--nowrap {
                flex-wrap: nowrap
            }

            .van-row--justify-center {
                justify-content: center
            }

            .van-row--justify-end {
                justify-content: flex-end
            }

            .van-row--justify-space-between {
                justify-content: space-between
            }

            .van-row--justify-space-around {
                justify-content: space-around
            }

            .van-row--align-center {
                align-items: center
            }

            .van-row--align-bottom {
                align-items: flex-end
            }

            :host,:root {
                --van-count-down-text-color: var(--van-text-color);
                --van-count-down-font-size: var(--van-font-size-md);
                --van-count-down-line-height: var(--van-line-height-md)
            }

            .van-count-down {
                color: var(--van-count-down-text-color);
                font-size: var(--van-count-down-font-size);
                line-height: var(--van-count-down-line-height)
            }

            .van-col {
                display: block;
                box-sizing: border-box;
                min-height: 1px
            }

            .van-col--1 {
                flex: 0 0 4.16666667%;
                max-width: 4.16666667%
            }

            .van-col--offset-1 {
                margin-left: 4.16666667%
            }

            .van-col--2 {
                flex: 0 0 8.33333333%;
                max-width: 8.33333333%
            }

            .van-col--offset-2 {
                margin-left: 8.33333333%
            }

            .van-col--3 {
                flex: 0 0 12.5%;
                max-width: 12.5%
            }

            .van-col--offset-3 {
                margin-left: 12.5%
            }

            .van-col--4 {
                flex: 0 0 16.66666667%;
                max-width: 16.66666667%
            }

            .van-col--offset-4 {
                margin-left: 16.66666667%
            }

            .van-col--5 {
                flex: 0 0 20.83333333%;
                max-width: 20.83333333%
            }

            .van-col--offset-5 {
                margin-left: 20.83333333%
            }

            .van-col--6 {
                flex: 0 0 25%;
                max-width: 25%
            }

            .van-col--offset-6 {
                margin-left: 25%
            }

            .van-col--7 {
                flex: 0 0 29.16666667%;
                max-width: 29.16666667%
            }

            .van-col--offset-7 {
                margin-left: 29.16666667%
            }

            .van-col--8 {
                flex: 0 0 33.33333333%;
                max-width: 33.33333333%
            }

            .van-col--offset-8 {
                margin-left: 33.33333333%
            }

            .van-col--9 {
                flex: 0 0 37.5%;
                max-width: 37.5%
            }

            .van-col--offset-9 {
                margin-left: 37.5%
            }

            .van-col--10 {
                flex: 0 0 41.66666667%;
                max-width: 41.66666667%
            }

            .van-col--offset-10 {
                margin-left: 41.66666667%
            }

            .van-col--11 {
                flex: 0 0 45.83333333%;
                max-width: 45.83333333%
            }

            .van-col--offset-11 {
                margin-left: 45.83333333%
            }

            .van-col--12 {
                flex: 0 0 50%;
                max-width: 50%
            }

            .van-col--offset-12 {
                margin-left: 50%
            }

            .van-col--13 {
                flex: 0 0 54.16666667%;
                max-width: 54.16666667%
            }

            .van-col--offset-13 {
                margin-left: 54.16666667%
            }

            .van-col--14 {
                flex: 0 0 58.33333333%;
                max-width: 58.33333333%
            }

            .van-col--offset-14 {
                margin-left: 58.33333333%
            }

            .van-col--15 {
                flex: 0 0 62.5%;
                max-width: 62.5%
            }

            .van-col--offset-15 {
                margin-left: 62.5%
            }

            .van-col--16 {
                flex: 0 0 66.66666667%;
                max-width: 66.66666667%
            }

            .van-col--offset-16 {
                margin-left: 66.66666667%
            }

            .van-col--17 {
                flex: 0 0 70.83333333%;
                max-width: 70.83333333%
            }

            .van-col--offset-17 {
                margin-left: 70.83333333%
            }

            .van-col--18 {
                flex: 0 0 75%;
                max-width: 75%
            }

            .van-col--offset-18 {
                margin-left: 75%
            }

            .van-col--19 {
                flex: 0 0 79.16666667%;
                max-width: 79.16666667%
            }

            .van-col--offset-19 {
                margin-left: 79.16666667%
            }

            .van-col--20 {
                flex: 0 0 83.33333333%;
                max-width: 83.33333333%
            }

            .van-col--offset-20 {
                margin-left: 83.33333333%
            }

            .van-col--21 {
                flex: 0 0 87.5%;
                max-width: 87.5%
            }

            .van-col--offset-21 {
                margin-left: 87.5%
            }

            .van-col--22 {
                flex: 0 0 91.66666667%;
                max-width: 91.66666667%
            }

            .van-col--offset-22 {
                margin-left: 91.66666667%
            }

            .van-col--23 {
                flex: 0 0 95.83333333%;
                max-width: 95.83333333%
            }

            .van-col--offset-23 {
                margin-left: 95.83333333%
            }

            .van-col--24 {
                flex: 0 0 100%;
                max-width: 100%
            }

            .van-col--offset-24 {
                margin-left: 100%
            }

            .van-space {
                display: inline-flex
            }

            .van-space--horizontal .van-space-item {
                display: flex;
                align-items: center
            }

            .van-space--vertical {
                flex-direction: column
            }

            .van-space--align-baseline {
                align-items: baseline
            }

            .van-space--align-start {
                align-items: flex-start
            }

            .van-space--align-end {
                align-items: flex-end
            }

            .van-space--align-center {
                align-items: center
            }

            .van-space--wrap {
                flex-wrap: wrap
            }

            .van-space--fill {
                display: flex
            }

            :host,:root {
                --van-uploader-size: 21.33333vw;
                --van-uploader-icon-size: 6.4vw;
                --van-uploader-icon-color: var(--van-gray-4);
                --van-uploader-text-color: var(--van-text-color-2);
                --van-uploader-text-font-size: var(--van-font-size-sm);
                --van-uploader-upload-background: var(--van-gray-1);
                --van-uploader-upload-active-color: var(--van-active-color);
                --van-uploader-delete-color: var(--van-white);
                --van-uploader-delete-icon-size: 3.73333vw;
                --van-uploader-delete-background: rgba(0,0,0,.7);
                --van-uploader-file-background: var(--van-background);
                --van-uploader-file-icon-size: 5.33333vw;
                --van-uploader-file-icon-color: var(--van-gray-7);
                --van-uploader-file-name-padding: 0 var(--van-padding-base);
                --van-uploader-file-name-margin-top: var(--van-padding-xs);
                --van-uploader-file-name-font-size: var(--van-font-size-sm);
                --van-uploader-file-name-text-color: var(--van-gray-7);
                --van-uploader-mask-text-color: var(--van-white);
                --van-uploader-mask-background: rgba(50,50,51,.88);
                --van-uploader-mask-icon-size: 5.86667vw;
                --van-uploader-mask-message-font-size: var(--van-font-size-sm);
                --van-uploader-mask-message-line-height: var(--van-line-height-xs);
                --van-uploader-loading-icon-size: 5.86667vw;
                --van-uploader-loading-icon-color: var(--van-white);
                --van-uploader-disabled-opacity: var(--van-disabled-opacity);
                --van-uploader-border-radius: 0px
            }

            .van-uploader {
                position: relative;
                display: inline-block
            }

            .van-uploader__wrapper {
                display: flex;
                flex-wrap: wrap
            }

            .van-uploader__wrapper--disabled {
                opacity: var(--van-uploader-disabled-opacity)
            }

            .van-uploader__input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                cursor: pointer;
                opacity: 0
            }

            .van-uploader__input-wrapper {
                position: relative
            }

            .van-uploader__input:disabled {
                cursor: not-allowed
            }

            .van-uploader__upload {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: var(--van-uploader-size);
                height: var(--van-uploader-size);
                margin: 0 var(--van-padding-xs) var(--van-padding-xs) 0;
                background: var(--van-uploader-upload-background);
                border-radius: var(--van-uploader-border-radius)
            }

            .van-uploader__upload:active {
                background-color: var(--van-uploader-upload-active-color)
            }

            .van-uploader__upload--readonly:active {
                background-color: var(--van-uploader-upload-background)
            }

            .van-uploader__upload-icon {
                color: var(--van-uploader-icon-color);
                font-size: var(--van-uploader-icon-size)
            }

            .van-uploader__upload-text {
                margin-top: var(--van-padding-xs);
                color: var(--van-uploader-text-color);
                font-size: var(--van-uploader-text-font-size)
            }

            .van-uploader__preview {
                position: relative;
                margin: 0 var(--van-padding-xs) var(--van-padding-xs) 0;
                cursor: pointer
            }

            .van-uploader__preview-image {
                display: block;
                width: var(--van-uploader-size);
                height: var(--van-uploader-size);
                overflow: hidden;
                border-radius: var(--van-uploader-border-radius)
            }

            .van-uploader__preview-delete {
                position: absolute;
                top: 0;
                right: 0
            }

            .van-uploader__preview-delete--shadow {
                width: var(--van-uploader-delete-icon-size);
                height: var(--van-uploader-delete-icon-size);
                background: var(--van-uploader-delete-background);
                border-radius: 0 0 0 3.2vw
            }

            .van-uploader__preview-delete-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: var(--van-uploader-delete-color);
                font-size: var(--van-uploader-delete-icon-size);
                transform: scale(.7) translate(10%,-10%)
            }

            .van-uploader__mask,.van-uploader__preview-cover {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0
            }

            .van-uploader__mask {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--van-uploader-mask-text-color);
                background: var(--van-uploader-mask-background);
                border-radius: var(--van-uploader-border-radius)
            }

            .van-uploader__mask-icon {
                font-size: var(--van-uploader-mask-icon-size)
            }

            .van-uploader__mask-message {
                margin-top: 1.6vw;
                padding: 0 var(--van-padding-base);
                font-size: var(--van-uploader-mask-message-font-size);
                line-height: var(--van-uploader-mask-message-line-height)
            }

            .van-uploader__loading {
                width: var(--van-uploader-loading-icon-size);
                height: var(--van-uploader-loading-icon-size);
                color: var(--van-uploader-loading-icon-color)
            }

            .van-uploader__file {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: var(--van-uploader-size);
                height: var(--van-uploader-size);
                background: var(--van-uploader-file-background)
            }

            .van-uploader__file-icon {
                color: var(--van-uploader-file-icon-color);
                font-size: var(--van-uploader-file-icon-size)
            }

            .van-uploader__file-name {
                box-sizing: border-box;
                width: 100%;
                margin-top: var(--van-uploader-file-name-margin-top);
                padding: var(--van-uploader-file-name-padding);
                color: var(--van-uploader-file-name-text-color);
                font-size: var(--van-uploader-file-name-font-size);
                text-align: center
            }

            .colon {
                margin: 0 1.06667vw;
                color: #1989fa
            }

            .block,.colon {
                display: inline-block
            }

            .block {
                width: 5.86667vw;
                color: #fff;
                font-size: 3.2vw;
                text-align: center;
                background-color: #1989fa;
                border-radius: 1.06667vw
            }

            .title {
                color: #1e90ff
            }

            .colon[data-v-47d903de] {
                margin: 0 1.06667vw
            }

            .block[data-v-47d903de],.colon[data-v-47d903de] {
                display: inline-block;
                color: #1989fa;
                font-size: 1.3rem;
                background: #fff
            }

            .block[data-v-47d903de] {
                width: 5.86667vw;
                text-align: center;
                border-radius: 1.06667vw
            }

            [data-v-47d903de] .van-field__body {
                background: #f2f1f6;
                padding: 1.06667vw
            }

            .common-backgroud[data-v-47d903de] {
                border-radius: 1.06667vw;
                background: #fff;
                margin-top: 2.13333vw;
                padding: 2.13333vw
            }

            .content-background[data-v-47d903de] {
                border-top-left-radius: 1.06667vw;
                border-top-right-radius: 1.06667vw;
                background: #fff;
                margin-top: 2.13333vw;
                padding: 2.13333vw
            }

            .finger-icon[data-v-47d903de] {
                position: absolute;
                right: 1rem;
                top: .4rem;
                transform: translateY(50%);
                width: 2.5rem;
                height: 2.5rem;
                bottom: -.5rem;
                animation: pulse-47d903de 1s ease-in-out infinite
            }

            @keyframes pulse-47d903de {
                0%,to {
                    transform: translateY(50%) scale(1)
                }

                50% {
                    transform: translateY(50%) scale(1.2)
                }
            }

            .step-frame[data-v-47d903de] {
                margin: .5rem;
                color: #363233;
                font-weight: 700;
                font-size: 1rem
            }

            .step-num[data-v-47d903de] {
                border-radius: .75rem;
                background: #1989fa;
                color: #fff;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                font-size: 1.2rem;
                float: left
            }

            .step-content[data-v-47d903de] {
                color: #363233;
                font-weight: 700;
                font-size: 1rem;
                text-align: left
            }

            .colon[data-v-7db5aa85] {
                margin: 0 1.06667vw
            }

            .block[data-v-7db5aa85],.colon[data-v-7db5aa85] {
                display: inline-block;
                color: #1989fa;
                font-size: 1.3rem;
                background: #fff
            }

            .block[data-v-7db5aa85] {
                width: 5.86667vw;
                text-align: center;
                border-radius: 1.06667vw
            }

            [data-v-7db5aa85] .van-field__body {
                background: #f2f1f6;
                padding: 1.06667vw
            }

            .common-backgroud[data-v-7db5aa85] {
                border-radius: 1.06667vw;
                background: #fff;
                margin-top: 1.06667vw;
                padding: 2.13333vw
            }

            .content-background[data-v-7db5aa85] {
                border-top-left-radius: 1.06667vw;
                border-top-right-radius: 1.06667vw;
                background: #fff;
                margin-top: 2.13333vw;
                padding: 2.13333vw
            }

            .quick-button[data-v-7db5aa85] {
                border-radius: 1.06667vw;
                background: #fff;
                align-items: center;
                height: 3rem;
                display: flex;
                justify-content: center
            }

            .finger-icon[data-v-7db5aa85] {
                position: absolute;
                right: 1rem;
                top: .4rem;
                transform: translateY(50%);
                width: 2.5rem;
                height: 2.5rem;
                bottom: -.5rem;
                animation: pulse-7db5aa85 1s ease-in-out infinite
            }

            @keyframes pulse-7db5aa85 {
                0%,to {
                    transform: translateY(50%) scale(1)
                }

                50% {
                    transform: translateY(50%) scale(1.2)
                }
            }

            .step-frame[data-v-7db5aa85] {
                margin: .5rem;
                color: #363233;
                font-weight: 700;
                font-size: 1rem
            }

            .step-num[data-v-7db5aa85] {
                border-radius: .75rem;
                background: #1989fa;
                color: #fff;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                font-size: 1.2rem;
                float: left
            }

            .step-content[data-v-7db5aa85] {
                color: #363233;
                font-weight: 700;
                font-size: 1rem;
                text-align: left
            }

            .colon[data-v-3c6cda3b] {
                margin: 0 1.06667vw
            }

            .block[data-v-3c6cda3b],.colon[data-v-3c6cda3b] {
                display: inline-block;
                color: #1989fa;
                font-size: 1.3rem;
                background: #fff
            }

            .block[data-v-3c6cda3b] {
                width: 5.86667vw;
                text-align: center;
                border-radius: 1.06667vw
            }

            [data-v-3c6cda3b] .van-field__body {
                background: #f2f1f6;
                padding: 1.06667vw
            }

            .common-backgroud[data-v-3c6cda3b] {
                border-radius: 1.06667vw;
                background: #fff;
                margin-top: 1.06667vw;
                padding: 2.13333vw
            }

            .content-background[data-v-3c6cda3b] {
                border-radius: 1.06667vw;
                background: #fff;
                margin-top: 2.13333vw;
                padding: 2.13333vw
            }

            .quick-button[data-v-3c6cda3b] {
                border-radius: 1.06667vw;
                background: #fff;
                align-items: center;
                height: 3rem;
                display: flex;
                justify-content: center
            }

            .finger-icon[data-v-3c6cda3b] {
                position: absolute;
                right: 1rem;
                top: .4rem;
                transform: translateY(50%);
                width: 2.5rem;
                height: 2.5rem;
                bottom: -.5rem;
                animation: pulse-3c6cda3b 1s ease-in-out infinite
            }

            @keyframes pulse-3c6cda3b {
                0%,to {
                    transform: translateY(50%) scale(1)
                }

                50% {
                    transform: translateY(50%) scale(1.2)
                }
            }

            .step-frame[data-v-3c6cda3b] {
                margin: .5rem;
                color: #363233;
                font-weight: 700;
                font-size: 1rem
            }

            .step-num[data-v-3c6cda3b] {
                border-radius: .75rem;
                background: #1989fa;
                color: #fff;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                font-size: 1.2rem;
                float: left
            }

            .step-content[data-v-3c6cda3b] {
                color: #363233;
                font-weight: 700;
                font-size: 1rem;
                text-align: left
            }
